body{
    margin: 0;
}

header{
    background: rgb(2, 107, 148);
    text-align: center;
}

.logo{
    color: gray;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

header input{
    font-size: 20px;
    margin: 20px 0;
}

.new_item{
    background: red;
}